<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{pageTitle}}</ion-title>
        <ion-buttons right>
            <button ion-button (click)="executeAction(pageAction, customer)">
        {{pageAction}}
        <ion-icon [name]="getActionIcon(pageAction)"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content inset>
    <ion-list>
        <ion-list-header color="light">General Information</ion-list-header>
        <ion-item>
            <div item-start>
                <ion-label color="primary" stacked>Prénom</ion-label>
                <ion-input [readonly]="!isEditMode" [(ngModel)]="customer.firstName" type="text" placeholder="Prénom"></ion-input>
            </div>
            <div item-end>
                <ion-label color="primary" stacked>Nom</ion-label>
                <ion-input [readonly]="!isEditMode" [(ngModel)]="customer.lastName" type="text" placeholder="Nom"></ion-input>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Type de Cliente</ion-label>
            <ion-select [disabled]="!isEditMode" [(ngModel)]="customer.type" interface="popover">
                <!-- <ion-option value="black">black</ion-option> -->
                <ion-option value="régulière">régulière</ion-option>
                <ion-option value="occasionnelle">occasionnelle</ion-option>
                <ion-option value="privilège">privilège</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Anniversaire</ion-label>
            <ion-datetime [disabled]="!isEditMode" displayFormat="DD/MM/YYYY" pickerFormat="DDDD MMMM YYYY" [(ngModel)]="birthday"></ion-datetime>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="light">Contact</ion-list-header>
        <ion-item>
            <ion-label color="primary" stacked>Téléphone n°1</ion-label>
            <ion-input [readonly]="!isEditMode" [(ngModel)]="customer.telephone.num1" type="tel" placeholder="06 12 34 56 78"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary" stacked>Téléphone n°2</ion-label>
            <ion-input [readonly]="!isEditMode" [(ngModel)]="customer.telephone.num2" type="tel" placeholder="01 23 45 67 89"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="light">Address</ion-list-header>
        <ion-item>
            <button *ngIf="!customer.address" [disabled]="!isEditMode" ion-button round large outline full [navPush]="AddressPage">
                <ion-icon name="add"></ion-icon> Add Address
            </button>
            <button *ngIf="customer.address" [disabled]="!isEditMode" ion-button round large outline full [navPush]="AddressPage">
                    <ion-icon ios="ios-home" md="md-home"></ion-icon>
                    {{customer.address.numero}} {{customer.address.rue}} {{customer.address.codePostal}} {{customer.address.ville}}
                </button>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header color="light">Services</ion-list-header>
        <ion-item>
            <ion-select [disabled]="!isEditMode" [(ngModel)]="customer.serviceList" multiple="true">
                <ion-option>Epilation</ion-option>
                <ion-option>Maquillage</ion-option>
                <ion-option>Soins</ion-option>
                <ion-option>Regard</ion-option>
                <ion-option>Ongles</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>